<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.nickname %>様、example.comへようこそ。</h1>
    <p>
      example.comへのサインアップが成功しました。
    </p>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>
      本サイトにユーザー登録いただきありがとうございます。
    </p>
    <p>
      ご要望や当サイトの改善案等ございましたら、下記のTwitterにてDMををお待ちしております。
    </p>
  </body>
</html>