.main-wrapper {
  width: 100vw;
}

.parts {
  margin: 0 auto;
  width: 60%;
}

/*******************************************
sort部分
 ********************************************/
.sort {
  background-color: var(--base-color);
  padding: 120px 0 15px;
}

.sort-top {
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color);
  margin: 0 0 10px 5px;
  text-decoration: underline;
}

.sort-lists {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 14px;
}

.sort-btn {
  margin: 0 15px 0 5px;
  display: block;
  border: 1px solid var(--deep-disagree-color);
  background-color: var(--main-color);
  border-radius: 20px;
  text-align: center;
  padding: 7px 10px;
  font-weight: 500;
  text-decoration: none;
  color: var(--font-color);
}

.sort-btn:hover {
  background-color: var(--deep-disagree-color);
  color: var(--main-color);
  transition: 0.5s;
}

.sort-btn-set {
  background-color: var(--deep-disagree-color);
  color: var(--main-color);
}

/*******************************************
コンテンツの表示
 ********************************************/
.contents-wrapper {
  width: 100%;
  padding-bottom: 80px;
  margin: 0 auto;
  background-color: var(--base-color);
}

.content {
  width: 100%;
  height: var(--content-height);
  background-color: var(--main-color);
  margin-bottom: 25px;
  position: relative;
}

.content-end {
  display: none;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.content-end-line-set {
  background: linear-gradient(
    30deg,
    var(--main-color),
    var(--main-color) 49%,
    var(--agree-color) 49%,
    var(--agree-color) 51%,
    var(--main-color) 51%,
    var(--main-color)
  );
}

.content:hover {
  box-shadow: 0px 0px 25px var(--font-color);
  transform: translateY(-5px);
  transition: 0.3s;
}

/*******************************************
title
 ********************************************/
.content-top {
  width: 100%;
  height: 100%;
  display: flex;
}

.content-title {
  border-radius: 5px;
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  width: 75%;
  height: 100%;
  padding: 20px;
  letter-spacing: 1.5px;
  color: var(--font-color);
  font-size: 36px;
  line-height: calc((var(--content-height) - 40px) / 2);
  background-color: var(--main-color);
}

.content-title p {
  /* ２行表示の３点リーダー */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/*******************************************
コンテンツの右側
 ********************************************/

.content-info {
  box-sizing: border-box;
  width: 25%;
  padding: 19px;
  background-color: var(--main-color);
  border-left: 1px solid var(--second-main-color);
  color: var(--second-main-color);
  line-height: calc((var(--content-height) - 40px) / 5);
  font-style: italic;
}

.content-bottom-list {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-owner {
  color: var(--second-main-color);
  text-decoration: none;
  position: relative;
}

.content-owner::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--font-color);
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.content-owner:hover::after {
  transform: scale(1, 1);
}

.agree {
  color: var(--deep-agree-color);
  font-weight: 700;
}

.disagree {
  color: var(--deep-disagree-color);
  font-weight: 700;
}

.room-authority-edit-btn a {
  text-decoration: none;
  color: var(--font-color);
}

.room-authority-edit-btn a:hover {
  color: var(--agree-color);
}
