/***************************
 インクリメントで表示する要素のcss 
 ***************************/
#search-result {
  width: var(--name-input-box-size);
  background-color: var(--base-color);
  padding: 2px;
  margin: 0 auto;
  text-align: left;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.child {
  margin: 0 5px 10px 0;
  border: 1px solid var(--deep-disagree-color);
  background-color: var(--main-color);
  color: var(--font-color);
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  line-height: 40px;
}

.child:hover {
  background-color: var(--deep-disagree-color);
  color: var(--main-color);
}
