/***************************
 インクリメントで表示する要素のcss 
 ***************************/
#search-result {
  width: var(--name-input-box-size);
  background-color: rebeccapurple;
  padding: 2px;
  margin: 0 auto;
  text-align: left;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.child {
  margin: 0 5px 10px 0;
  border: 1px solid blue;
  background-color: #f4f4f4;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  line-height: 40px;
}

.child:hover {
  background-color: blue;
}
