.room-wrapper {
  width: 100vw;
  background-color: var(--base-color);
}

/************************************
 room-header  
 ***********************************/
.room-header {
  width: 60%;
  background-color: var(--base-color);
  margin: 20px auto;
}

.room-title-edit-btn {
  font-size: 14px;
  color: var(--font-color);
  text-align: center;
  text-decoration: none;
}

.room-title-edit-btn:hover {
  color: var(--deep-agree-color);
}

.room-title {
  box-sizing: border-box;
  width: 100%;
  padding: 7px;
  height: 105px;
  font-size: 28px;
  text-align: center;
  color: var(--font-color);
  background-color: var(--main-color);
  border-radius: 3px;
}

/************************************
タイトルボトム部分
 ***********************************/

.room-title-bottom {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}
/************************************
プルダウン
 ***********************************/
.room-info-top {
  position: relative;
}
.room-info-top-set {
  background-color: var(--main-color);
}

.room-info-dropdown-btn {
  font-size: 18px;
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  cursor: pointer;
  position: relative;
}

.room-info-dropdown-btn::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--font-color);
  bottom: 0px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.5s;
}

.room-info-dropdown-btn:hover::after {
  transform: scale(1, 1);
}

.room-info {
  display: none;
  position: absolute;
  align-items: center;
  padding: 5px;
  font-size: 18px;
  line-height: 25px;
  list-style: none;
  background-color: var(--main-color);
  border-radius: 3px;
}

.room-info-set {
  display: block;
  width: 120px;
}

.room-info li {
  color: var(--font-color);
  font-size: 14px;
}
.room-info-name {
  text-decoration: none;
  color: var(--font-color);
}
/************************************
論点
 ***********************************/
.room-issues-left {
  display: flex;
  align-items: center;
}

.room-ronten {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  color: var(--font-color);
  cursor: pointer;
  position: relative;
}

.room-ronten.room-ronten-set {
  background-color: var(--main-color);
}

.room-ronten::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--font-color);
  bottom: 0px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.5s;
}

.room-ronten:hover::after {
  transform: scale(1, 1);
}

.comment-yazirusi {
  height: 18px;
  padding: 0 5px;
}

.comment-yazirusi.comment-yazirusi-set {
  transform: rotate(180deg);
}
/************************************
plus-btn 
 ***********************************/

.room-issue-plus {
  box-sizing: border-box;
  display: flex;
  margin-left: 10px;
  position: relative;
}
.room-issue-plus a {
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid var(--font-color);
  padding: 3px 5px;
  border-radius: 3px;
}

.issue-add-explain {
  position: absolute;
  top: 5px;
  left: 30px;
  display: none;
  padding: 2px;
  background-color: var(--main-color);
  color: var(--font-color);
  font-size: 14px;
  width: 80px;
  text-align: center;
}

.room-issue-plus:hover .issue-add-explain {
  display: block;
  opacity: 0.5;
}

/************************************
 room-issue-right
 ***********************************/
.room-issues-right {
  background-color: var(--main-color);
  display: none;
  /* スライド横スクロール自動化のための記述 */
  /* overflow-x: auto; */
  /* white-space: nowrap; */
}

.room-issues-right.room-issues-right-set {
  /* クリックしたときissuesを表示させる */
  display: block;
}

.room-scroll {
  display: flex;
  flex-wrap: wrap;
  /* ショートハンドで記述
  animation: scrollAnime 40s linear infinite 20s; */
}

/* .room-scroll:hover {
  ホバー時にアニメーションを止める
  animation-play-state: paused;
} */

/* @keyframes scrollAnime {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.room-issue {
  margin: 7px;
}

.room-issue a {
  text-decoration: none;
  font-size: 18px;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  padding: 3px 5px;
  border-radius: 3px;
}

.room-issue a:hover,
.room-issue-plus a:hover {
  background-color: var(--font-color);
  color: var(--main-color);
  transition: 0.3s;
}

/************************************
 コメント表示部分  
 ***********************************/
.comments-room {
  width: 60%;
  display: flex;
  justify-content: space-between;
  height: 700px;
  margin: auto;
  background-color: var(--base-color);
  margin: 60px auto 40px;
}

.opinion-room {
  width: 47%;
  height: 100%;
}

.opinion-btn {
  font-family: "Sacramento", cursive;
  width: 100%;
  height: var(--btn-height);
  text-align: center;
  font-size: 32px;
  color: var(--base-color);
  line-height: var(--btn-height);
  letter-spacing: 20px;
  border: none;
}

.agree-btn {
  background-color: var(--agree-color);
}

.agree-btn:hover {
  background-color: var(--deep-agree-color);
  box-shadow: 0px -5px 15px var(--agree-color);
  transition: 1s;
}

.disagree-btn {
  background-color: var(--disagree-color);
}

.disagree-btn:hover {
  background-color: var(--deep-disagree-color);
  box-shadow: 0px -5px 15px var(--disagree-color);
  transition: 1s;
}

.opinion-text-area {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - var(--btn-height));
  overflow-wrap: break-word;
  overflow-y: scroll;
  background-color: white;
}

.agree-text-area {
  border-bottom: 2px solid var(--agree-color);
  border-left: 2px solid var(--agree-color);
  border-right: 2px solid var(--agree-color);
}

.disagree-text-area {
  border-bottom: 2px solid var(--disagree-color);
  border-left: 2px solid var(--disagree-color);
  border-right: 2px solid var(--disagree-color);
}

/************************************
 コメント投稿部分  
 ***********************************/

.room-input-box {
  width: 70%;
  height: var(--btn-height);
  background-color: var(--base-color);
  margin: auto;
  display: flex;
  justify-content: center;
}

.position-open {
  width: 10%;
  height: var(--btn-height);
  line-height: var(--btn-height);
  text-align: center;
  background-color: var(--font-color);
  color: var(--main-color);
  font-size: 14px;
  border-radius: 5px;
}
.comment-box-position {
  height: var(--btn-height);
  width: 60%;
  margin: 0 20px;
  position: relative;
}

.comment_box {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: none;
  padding: 5px 0 0 10px;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.8);
}

/* クリックしたコメント投稿欄を拡張する */
.comment_box_set {
  border: 1px solid var(--font-color);
  height: 300px;
}

.comment_bottom_r {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  width: 10%;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--font-color);
  color: var(--main-color);
}

.room-input-box-disabled {
  border: 1px solid var(--font-color);
}

/************************************
 issueについて部分  
 ***********************************/
.issue-title {
  box-sizing: border-box;
  font-size: 14px;
  background-color: var(--main-color);
  width: 100%;
  color: var(--font-color);
  padding: 5px;
  margin: 35px auto 10px;
  text-align: center;
}

.issue-title a {
  text-decoration: none;
}

.issue-title a:hover {
  filter: brightness(60%);
}
