.room-wrapper {
  width: 100vw;
  background-color: var(--base-color);
}

/************************************
 room-header  
 ***********************************/
.room-header {
  width: 80%;
  background-color: var(--base-color);
  margin: 20px auto;
}

.room-title {
  box-sizing: border-box;
  width: 100%;
  padding: 7px;
  height: 70px;
  font-size: 28px;
  text-align: center;
  color: var(--font-color);
  background-color: var(--main-color);
  border-radius: 3px;
}

.room-info {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  padding: 5px;
  font-size: 16px;

  list-style: none;
  background-color: var(--main-color);
  border-radius: 3px;
}

.room-info li {
  margin-right: 30px;
  color: var(--font-color);
}
.room-info-name {
  text-decoration: none;
  color: black;
}
/************************************
 room-issue
 ***********************************/
.room-issues {
  display: flex;
  width: 100%;
}

.room-issues-left {
  width: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color: var(--disagree-color);
  color: var(--main-color);
  border-radius: 3px;
  opacity: 0.7;
}

.room-issues-right {
  width: calc(100% - 60px);
  font-size: 18px;
  background-color: var(--main-color);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  list-style: none;
  overflow-x: auto;
  white-space: nowrap;
  border-radius: 3px;
}

.room-scroll {
  /* ショートハンドで記述 */
  animation: scrollAnime 40s linear infinite 20s;
}

.room-scroll:hover {
  /* ホバー時にアニメーションを止める */
  animation-play-state: paused;
}

@keyframes scrollAnime {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.room-issue {
  padding: 0px 3px 10px 3px;
  display: inline-block;
}

.room-issue-home,
.room-issue-option {
  margin-right: 5px;
}

.room-issue a {
  text-decoration: none;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  padding: 3px 5px;
  border-radius: 3px;
}

.room-issue a:hover {
  background-color: var(--font-color);
  color: var(--main-color);
  transition: 0.3s;
}

/************************************
plus-btn 
 ***********************************/

.room-issue-plus {
  box-sizing: border-box;
  width: 60px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 100%;
  position: relative;
  background-color: var(--main-color);
}
.issue-add-explain {
  position: absolute;
  top: 40px;
  left: -13px;
  display: none;
  padding: 2px;
  background-color: var(--main-color);
  color: var(--font-color);
  width: 100px;
  font-size: 14px;
}

.room-issue-plus:hover .issue-add-explain {
  display: block;
  opacity: 0.5;
}

/************************************
 コメント表示部分  
 ***********************************/
.comments-room {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 700px;
  margin: auto;
  background-color: var(--base-color);
  margin: 60px auto 40px;
}

.opinion-room {
  width: 47%;
  height: 100%;
}

.agree-room {
}

.disagree-room {
}

.opinion-btn {
  font-family: "Sacramento", cursive;
  width: 100%;
  height: var(--btn-height);
  text-align: center;
  font-size: 32px;
  color: var(--base-color);
  line-height: var(--btn-height);
  letter-spacing: 20px;
  border: none;
}

.agree-btn {
  background-color: var(--agree-color);
}

.agree-btn:hover {
  background-color: var(--deep-agree-color);
  box-shadow: 0px -5px 15px var(--agree-color);
  transition: 1s;
}

.disagree-btn {
  background-color: var(--disagree-color);
}

.disagree-btn:hover {
  background-color: var(--deep-disagree-color);
  box-shadow: 0px -5px 15px var(--disagree-color);
  transition: 1s;
}

.opinion-text-area {
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - var(--btn-height));
  overflow-wrap: break-word;
  overflow-y: scroll;
  background-color: white;
}

.agree-text-area {
  border-bottom: 2px solid var(--agree-color);
  border-left: 2px solid var(--agree-color);
  border-right: 2px solid var(--agree-color);
}

.disagree-text-area {
  border-bottom: 2px solid var(--disagree-color);
  border-left: 2px solid var(--disagree-color);
  border-right: 2px solid var(--disagree-color);
}

/************************************
 コメント投稿部分  
 ***********************************/

.room-input-box {
  width: 70%;
  height: var(--btn-height);
  background-color: var(--base-color);
  margin: auto;
  display: flex;
  justify-content: center;
}

.position-open {
  width: 10%;
  height: var(--btn-height);
  line-height: var(--btn-height);
  text-align: center;
  background-color: var(--font-color);
  color: var(--main-color);
  font-size: 14px;
  border-radius: 5px;
}
.comment-box-position {
  height: var(--btn-height);
  width: 60%;
  margin: 0 20px;
  position: relative;
}

.comment_box {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: none;
  padding: 5px 0 0 10px;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.8);
}

/* クリックしたコメント投稿欄を拡張する */
.comment_box_set {
  border: 1px solid var(--font-color);
  height: 300px;
}

.comment_bottom_r {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  width: 10%;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--font-color);
  color: var(--main-color);
}

.room-input-box-disabled {
  border: 1px solid var(--font-color);
}

/************************************
 issueについて部分  
 ***********************************/
.issue-title {
  box-sizing: border-box;
  font-size: 14px;
  background-color: var(--main-color);
  width: 100%;
  color: var(--font-color);
  padding: 5px;
  margin: 35px auto 10px;
  text-align: center;
}
