<%= render 'shared/header' %>
<div class="mypage">
  <div class="mypage-wrapper">
    <div class="mypage-left">
      <div class="mypage-icon"></div>
      <div class="mypage-info"></div>
    </div>
    <div class="mypage-right">
      <div class="mypage-contents">
        <div class="maypage-top">
        </div>
        <div class="mypage-content">
          <div class="mypage-title"></div>
          <div class="my-disscasion"></div>
        </div>
      </div>
    </div>
  </div>
</div>