<%# 下部広告部分 %>
<footer class='footer'>
  <div class='footer-contents'>
      <ul class="footer-list">
        <li><%= link_to 'このサイトについて',  this_site_rooms_path, class: "footer-link" %></li>
      </ul>
    </div>
  </div>
</footer>