/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --content-height: 130px;
  --name-input-box-size: 80%;
  --agree-color: #eb3412;
  --deep-agree-color: #8a2a16;
  --disagree-color: rgb(38, 155, 255);
  --deep-disagree-color: #1851ad;
  --center-color: #bb00ff;
  --btn-height: 60px;
  --top-header-height: 50px;
  --footer-height: 25px;
  --base-color: #e6e6e6; /*背景の色*/
  --main-color: #ffffff; /*コンテンツが表示されている部分に対する色*/
  --second-main-color: #404040;
  --font-color: rgb(34, 34, 34);
}

body {
  background-color: var(--base-color);
}
@media (prefers-color-scheme: dark) {
  /* ユーザーがダークモードに設定している時の設定を記述する場所 */
  /* カラーは変数化している方が良い */
  body {
    /* background-color: #000;
    color: #fff; */
  }
}
