/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --content-height: 400px;
  --name-input-box-size: 80%;
  --agree-color: brown;
  --disagree-color: blue;
  --btn-height: 70px;
}

@media (prefers-color-scheme: dark) {
  /* ユーザーがダークモードに設定している時の設定を記述する場所 */
  /* カラーは変数化している方が良い */
  body {
    background-color: #000;
    color: #fff;
  }
}
