/*ページネーション自体のデザイン*/
.pagination > li > a {
  border: none; /*枠線をなくす*/
  color: #696969; /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination > .active > a {
  background: #93c9ff; /*背景の色を変える*/
}

.mypage-pagenation {
  width: 100%;
  background-color: aqua;
  text-align: center;
}
