.mypage {
  width: 100vw;
  height: 100vh;
  background-color: var(--base-color);
}

.mypage-wrapper {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

/*****************************************
左側 
******************************************/

.mypage-left {
  width: 20%;
  background-color: var(--main-color);
  margin: 50px;
  color: var(--font-color);
  font-size: 20px;
  height: 100%;
}

/*****************************************
icon
******************************************/

.mypage-icon {
  padding: 40px;
}

.mypage-user-name {
  text-align: center;
  word-break: break-all;
}

.mypage-user-image {
  width: 100%;
  height: calc(width);
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.user-image,
.preview-image {
  border-radius: 46%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/*****************************************
following
******************************************/
.mypage-info {
  padding: 40px;
}

.follow-info {
  line-height: 30px;
}

.follow-info a {
  text-decoration: none;
  color: var(--font-color);
  letter-spacing: 1px;
  position: relative;
}

.follow-info a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--font-color);
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.follow-info a:hover::after {
  transform: scale(1, 1);
}

.follow-btn {
  margin: 40px auto;
  text-align: center;
}

/*****************************************
edit
******************************************/
.mypage-edit {
  text-align: center;
  padding: 40px;
}

.mypage-edit a {
  text-decoration: none;
  font-size: 18px;
  color: var(--font-color);
}

.mypage-edit a:hover {
  color: var(--agree-color);
}

/*****************************************
右側 
******************************************/

.mypage-right {
  width: 80%;
  margin: 50px 50px 50px 0;
  background-color: var(--main-color);
}

/*****************************************
見出し
******************************************/
.mypage-top {
  display: flex;
  background-color: var(--base-color);
}

.mypage-top-a {
  padding: 20px;
}

.mypage-top-a a {
  text-decoration: none;
  color: var(--second-main-color);
  font-size: 18px;
}

.mypage-top-a-set {
  background-color: var(--main-color);
  text-decoration: underline;
  text-decoration-color: var(--disagree-color);
  text-underline-offset: 10px;
}

/*****************************************
コンテンツ表示 
******************************************/
.my-discussion {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.my-discussion > div {
  border-top: 1px solid rgba(38, 155, 255, 0.5);
}

.my-discussion > div:last-child {
  border-bottom: 1px solid rgba(38, 155, 255, 0.5);
}
