.mypage {
  width: 100vw;
  height: 100vh;
  background-color: rgb(209, 81, 81);
}

.mypage-wrapper {
  margin: auto;
  width: 80%;
  background-color: rgb(203, 203, 203);
  display: flex;
  justify-content: center;
}

/*****************************************
左側 
******************************************/

.mypage-left {
  width: 20%;
  background-color: aqua;
  margin: 50px;
  color: black;
  font-size: 40px;
  height: 100%;
}

.mypage-icon {
  padding: 40px;
}

.mypage-info {
  padding: 40px;
}

/*****************************************
右側 
******************************************/
.mypage-user-image {
  background-color: blue;
  width: 100%;
  height: calc(width);
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.user-image {
  border-radius: 43%;
  width: 100%;
  height: calc(width);
  object-fit: cover;
}

/*****************************************
右側 
******************************************/

.mypage-right {
  width: 80%;
  margin: 50px 50px 50px 0;
  background-color: azure;
}

.mypage-top {
  list-style: none;
  display: flex;
  padding: 20px;
}

.mypage-top a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
}

.my-discussion {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
