.sign-up-contents {
  width: 100vw;
  height: 100vh;
  background-color: var(--base-color);
  position: absolute;
}

.sign-up-content {
  width: 500px;
  background-color: var(--base-color);
  margin: 0 auto;
  position: relative;
  top: 10%;
  text-align: center;
}

.sign-up-title {
  width: 100%;
  font-size: 52px;
  margin-bottom: 40px;
  color: var(--font-color);
  padding-bottom: 10px;
  background-color: var(--base-color);
  letter-spacing: 10px;
  border-bottom: 4px double var(--agree-color);
  border-image: linear-gradient(
    to right,
    var(--agree-color) 0%,
    var(--disagree-color) 100%
  );
  border-image-slice: 1;
}

/************************************
 タイトル以下部分  
 ***********************************/
.sign-up-bottom {
  width: 100%;
  padding: 0px 0px 40px;
}

.field {
  width: 100%;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 20px;
}

.necessary {
  width: 50px;
  background-color: var(--agree-color);
  color: var(--main-color);
  padding: 2px 5px;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 14px;
}

/************************************
 入力ボックス  
 ***********************************/
.input-name {
  width: var(--name-input-box-size);
  background-color: var(--base-color);
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--font-color);
  margin: 10px 0;
  outline: none;
  font-size: 18px;
}

.input-name:hover {
  background-color: var(--main-color);
  transition: 1s;
}

.actions {
  margin: 40px auto 20px;
  width: 100%;
  margin-bottom: 20px;
}

.submit-bottom {
  font-size: 20px;
  letter-spacing: 2px;
  background-color: var(--main-color);
  width: var(--name-input-box-size);
  height: 30px;
  border: 1px solid var(--font-color);
}

.submit-bottom:hover {
  box-shadow: 0px 1px 3px var(--font-color);
  transform: translateY(-3px);
  transition: 0.3s;
}

/************************************
更新用CSS、edit
 ***********************************/
.input-tab {
  font-size: 20px;
  height: 30px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}

.birthday-select {
  margin: 10px 5px;
}

.bottom-field {
  margin-bottom: 50px;
}

.image-field {
  margin: 70px 0;
  font-size: 20px;
}

.field-profile {
  height: 200px;
  width: 100%;
  word-break: break-all;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.input-atention {
  font-size: 12px;
  color: var(--second-main-color);
}

.edit-password {
  text-decoration: underline;
  text-decoration-color: var(--agree-color);
}

.denger-place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 100px auto;
}

.denger-place input,
a {
  opacity: 0.8;
}
/******************************
 レスポンシブ対応 
******************************/
@media (max-width: 500px) {
  .sign-up-content {
    width: 90%;
  }
  .sign-up-title {
    font-size: 20px;
  }
  .submit-bottom {
    font-size: 16px;
    height: 40px;
    width: 100px;
  }
}
