.sign-up-contents {
  width: 100vw;
  height: calc(100vh);
  background-color: blanchedalmond;
  position: absolute;
}

.sign-up-content {
  width: 500px;
  background-color: rgb(81, 145, 124);
  margin: 0 auto;
  position: relative;
  top: 10%;
  text-align: center;
}

.sign-up-title {
  width: 100%;
  font-size: 52px;
  margin-bottom: 40px;
  color: brown;
  padding-bottom: 10px;
  background-color: beige;
  letter-spacing: 10px;
}

.sign-up-bottom {
  width: 100%;
  padding: 0px 0px 40px;
}

.field {
  width: 100%;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-size: 20px;
}

.necessary {
  width: 50px;
  background-color: rgb(227, 57, 57);
  color: rgb(244, 242, 183);
  padding: 2px 5px;
  border-radius: 10px;
  margin-left: 10px;
}

.input-name {
  width: var(--name-input-box-size);
  height: 30px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}

.actions {
  margin: 40px 0 20px;
}

.input-tab {
  font-size: 20px;
  height: 30px;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
}

.birthday-select {
  margin: 10px 5px;
}

.submit-bottom {
  font-size: 20px;
  letter-spacing: 2px;
}

.sign-to-top-btn {
  text-decoration: none;
  color: aliceblue;
}
